@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css?family=Forum&display=swap');
body {
    width: 100%;
}
.navbar-brand {
    font-family: 'Yeon Sung', cursive;
    
}
.navbar-brand{
    font-size:6vh;
    color:white;
}
p {
    font-size: 26px;
}
#open {
    background:url(images/open1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    height:100vh;
    width: 100%;
}
.navbar {
    height: 100px;
}
p{
    color :white;
    font-family: 'Courgette', cursive;
    font-size: 5vw;
    padding-left: 2rem;
    padding-top: 8rem;
}
.jet-1 {
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
}
#about{
    height:100vh;
    background: url(images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
    font-size:2vw;
    text-align: right;
    font-family: 'Forum', cursive;
    padding-right: 10px;
    padding-top:100px;
}
#about > p {
    font-size: 36px;
    font-family: 'Forum', cursive;
    text-align: center;
    float: right;
    width: 40%;
}
#about > h1 {
    text-align: center;
    font-size: 66px;
}



   